/* css version 2.0 */
/* buttons.css - for general use */


/* general styles for buttons div */
.buttons a, .buttons button
	{
	color: #565656;											/* dark gray */
	background-color: #f5f5f5;					/* light gray */
	border-bottom: 1px solid #dedede;		/* light gray */
	border-right: 1px solid #dedede;		/* light gray */
	border-top: 1px solid #eeeeee;			/* light gray */
	border-left: 1px solid #eeeeee;			/* light gray */
	cursor: pointer;
	display: block;
	float: left;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	font-weight: bold;
	line-height: 130%;
	margin: 0 7px 0 0;
	padding: 5px 10px 6px 7px;					/* links */
	text-decoration: none;
	}

.buttons button
	{
	padding:4px 10px 3px 7px;						/* ie6 */
	overflow:visible;
	width:auto;	
	}
	
.buttons button[type]
	{
	line-height:17px; 									/* safari */
	padding:5px 10px 5px 7px; 					/* firefox */
	}

*:first-child+html button[type]
	{
	padding:4px 10px 3px 7px; 					/* ie7 */
	}

.buttons button img, .buttons a img
	{
	border:none;
	height:16px;
	margin:0 3px -3px 0 !important;
	padding:0;
	width:16px;
	}


/* neutral colour scheme (blue) */
button:hover, .buttons a:hover
	{
	color: #336699;											/* dark blue */
	background-color: #dff4ff;					/* light aqua */
	border: 1px solid #c2e1ef;					/* aqua */
	}
	
.buttons a:active
	{
	color: white;
	background-color: #6299c5;					/* blue - causes 3 warnings, as same as 3 borders */
	border: 1px solid #6299c5;					/* blue */
	}


/* positive colour scheme (green) */
button.positive, .buttons a.positive
	{
  color: #529214;											/* dark green */
  background-color: #f5f5f5;					/* light gray */
	}

button.positive:hover, .buttons a.positive:hover
	{
	color: #529214;											/* dark green */
	background-color: #e6efc2;					/* light green */
	border: 1px solid #c6d880;					/* green */
	}
	
.buttons a.positive:active
	{
	color: white;		
	background-color: #529214;					/* dark green - causes 3 warnings, as same as 3 borders */
	border: 1px solid #529214;					/* dark green */
	}


/* negative colour scheme (red) */
.buttons a.negative, button.negative
	{
	color: #d12f19;											/* dark red */
  background-color: #f5f5f5;					/* light gray */	
	}
	
.buttons a.negative:hover, button.negative:hover
	{
	color: #d12f19;											/* dark red */
	background-color: #fbe3e4;					/* light pink */
	border: 1px solid #fbc2c4;					/* pink */
	}
	
.buttons a.negative:active
	{
	color: white;	
	background-color: #d12f19;					/* dark red - causes 3 warnings, as same as 3 borders */
	border: 1px solid #d12f19;					/* dark red */
	}


/* disabled colour scheme (gray) */
button.disabled, .buttons a.disabled
	{
  color: #cccccc;											/* light gray */
  background-color: #f5f5f5;					/* light gray */
	}

button.disabled:hover, .buttons a.disabled:hover
	{
	color: #cccccc;											/* light gray */	
	background-color: #f5f5f5;					/* light gray */
	border: 1px solid #cccccc;					/* light gray */
	}
	
.buttons a.disabled:active
	{
	color: #cccccc;											/* light gray */	
	background-color: #f5f5f5;					/* light gray */
	border: 1px solid #cccccc;					/* light gray */
	}
