/* css version 2.0 */
/* styles for getmas */


body 
	{ 
	color: white;
	background-color: black;
	font-family: serif;
	text-align: center;
	} 
	
a:link,a:visited,a:active 
	{ 
	color: white;
	background-color: black;
	} 	

.logo
	{ 
	position: absolute;
	top: 15px;
	left: 15px;
	} 	

.title
	{ 
	font-size: 35pt; 
	margin-top: 50px;
	margin-bottom: 50px;
	}

.cartoon
	{
	margin-top: 250px;
	}
	