/* CSS level 2 */
/* styles.css: for index.html */

body 
	{ 
	color: gray;
	background-color: white;
	font-family: sans-serif;
	text-align: center;
	} 

a:link,a:visited,a:active 
	{ 
	color: #cccccc;
	background-color: white;
	text-decoration: none;
	} 
	
a:hover
	{ 
	color: gray;
	background-color: white;
	text-decoration: none;
	} 

img 
	{ 
	border: none;
	} 
	
.title
	{
	font-size: 22pt;
	font-weight: bold;
	margin-bottom: 50px;
	margin-top: 50px;
	}

.pages
	{
	color: #cccccc;
	background-color: white;
	}
