/* css version 2.0 */
/* styles for wyswygtt */


body 
	{ 
	color: black;
	background-color: white;
	background-image: url(wallpaper.jpg); 
	} 

img 
	{ 
	border: none;
	} 

.logo
	{ 
	position: absolute;
	top: 15px;
	left: 15px;
	} 
